.MainContainer {
  background-color: #282c34;
  min-height: 100vh;
  color: #ffffff;
  display: flex;
}

.LeftBar {
  border-right: 2px solid #ffffff;
  min-width: 100px;
}

.RightBar{
  width: 100%;
  background: #ffffff;
  color: black;
}

.Editor .ql-editor{
  min-height: 95vh;
}